{% extends 'base.html'%}
{% block title %}
<title>Log In</title>
{%endblock%}
{% block content%}
<style>
    a{
        text-decoration: none;
        display: block;
        margin-top: 0.50rem;

    }
</style>
<div class="container-fluid text-center">
<h2 class="text-center m-3 p-4 home-title">LogIn</h2>
</div>
<form action="" method="post" class=" text-center">
    {% csrf_token%}
    
    {{form.as_p}}
    <input type="submit" value="Login" class="btn btn-dark text-light">
</form>
<div class="container text-center">
    
    <a href="{% url 'signup' %}" class="text-center m-4 p-3">Click here if you are a new user</a>
</div>

{% endblock %}