{% extends 'base.html'%}
{% block title %}
<title>CREATE POST</title>
{%endblock%}
{% block content%}
<style>
.category{
    text-decoration: none;
    color: red;
    display: inline-block;
    padding: 1rem;
}
</style>
 current user ={{posts.author.id}} 
user id: {{user.id}}
{%if user.is_authenticated%}
{% if user.id == posts.author.id %}
<h2 class="home-title text-center m-4 p-3"><span class="edit-title">{{posts.title}}</span></h2>
<div class="container-fluid p-2 m-3">
    <form action="" method="post" class="form-control p-3">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Edit" class="btn btn-dark text-light">
    </form>
</div>
{%else%}
<div class="container-fluid text-center">
    <h2 class="home-title text-center m-4 p-3">You have to be logged in as {{post.author}} to Edit this  Post</h2>
</div>
 {%endif%}
{%else%}
<div class="container container-fluid text-center ">
    <h3 class="home-title text-center text-danger m-3 p-2">YOU ARE NOT AUTHORIZED TO EDIT THIS POST</h3>
    <a href="{% url 'login' %}" class="btn btn-danger text-light ">Log In</a>
</div>

{%endif%}


<script>
    const name = '{{user.first_name}}';
    document.getElementById('thisuser').value = name
</script>


{% endblock content %}