 {% extends 'base.html'%}
 {% block title %}
<title>{{posts.title}}</title>
{%endblock%}
 {% block content%}
 <style>
    .div{
        display: flex;
       ;
        padding:1rem;
    }
    .delete{
        margin-left: 1rem;
    }
 </style>
  <div class="container-fluid p-3 m-3">
    <h3 class="home-title text-center m-3">
        {{posts.title}}
    </h3>
    <p class="home-title text-center">{{posts.category}}</p>
    <h6 class="text-center">Written by {{posts.author}} on {{posts.publish}} </h6>
    <p class="home-text p-2">
        {{posts.body}}
    </p>
    {% if user.is_authenticated%}
    {%if user.id == posts.author.id%}
    <div class="div">
        <a href="{% url 'edit' posts.pk %}" class="btn btn-dark">Edit </a> 
        <a href="{% url 'delete' posts.pk %}" class="btn btn-dark delete">Delete</a>
    </div>
   {%endif%}
    {%endif%}
</div>

 {% endblock %}